.deck-board {
    position: relative;
    min-height: 288px;
    background-color: #25170a;
    background-image: url('../../public/assets/wood.png');
    background-size: 900px;
    background-position: left center;
    padding: 16px 0;
}

.global-counter-cards {
    width: 100px;
    font-size: 20px;
    background: linear-gradient(to right, #EBC837, #FFEB8B);
    display: inline-block;
    padding: 4px;
    border-radius: 20px;
    position: absolute;
    top: -17px;
    left: 0;
    font-weight: bolder;
    box-shadow: 0 0 4px #000;
    text-align: center;
    z-index: 999;
}

.download-button {
    position: absolute !important;
    right: 0;
    top: -14px;
}