.deck-board {
    position: relative;
    min-height: 288px;
    background-color: #25170a;
    background-image: url('../../public/resources/wood.png');
    background-size: cover;
    padding: 16px 0;
}

.deck-board__age {
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: left center;
}

.deck-board__age:not(:last-child) {
    border-bottom: 1px solid #EBC837;
}

.global-counter-cards {
    width: 100px;
    font-size: 20px;
    background: linear-gradient(to right, #EBC837, #FFEB8B);
    display: inline-block;
    padding: 4px;
    border-radius: 20px;
    position: absolute;
    top: 17px;
    left: 0;
    font-weight: bolder;
    box-shadow: 0 0 4px #000;
    text-align: center;
    z-index: 999;
}

.download-button {
    position: absolute !important;
    right: 0;
    top: 14px;
}