.deck-panel__container {
    background-image: url('../../public/assets/wood.png');
    background-size: 900px;
    background-position: left center;
    padding: 16px;
    box-shadow: 0 0 4px rgba(255,255,255, 0.7);
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
}

.federal-cards-disabled {
    filter: grayscale(100%);
    opacity: 0.7;
}