.deck-panel__container {
    background-image: url('../../public/assets/wood.png');
    background-size: 900px;
    background-position: left center;
    padding: 16px;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
}
