.aoe3de-logo {
    width: 60px;
}

.flag-random > img {
    width: 100%;
    max-width: 270px;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.flag-random > img:hover {
    transform: scale(1.2);
}